<!-- This was modified from https://github.com/jrnold/r4ds-exercise-solutions/blob/master/includes/open-review.html -->
<div class="alert alert-info hints-alert">
  <div class="hints-container">
    <i class="fa fa-comments-o"></i>
    <b>Want to help out or contribute?</b>
    <p>
    If you find any typos, errors, or places where the text may be improved, please let us know
    by providing feedback either in the feedback survey (given during class) or
    by using GitLab.
    </p>

    <p>
    On <i class="fab fa-gitlab"></i> GitLab open an
    <a href="https://gitlab.com/rostools/r-cubed-intermediate/-/issues">issue</a>
    or submit a <a href="https://gitlab.com/rostools/r-cubed-intermediate/-/merge_requests">merge request</a>
    by clicking the "Edit this page <i class="fab fa-gitlab"></i>" button on the side of this page.
    </p>
  </div>
</div>
